<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav navbar">
      {% assign links = site.data.navigation %}
      
      {% for link in links %}
          {% assign class = nil %}
          {% if page.url contains link.url %}
              {% assign class = 'active' %}
          {% endif %}

          {% if link.sublinks %}
            <div class="dropdown">
              <button class="dropbtn">{{ link.title }}
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                {% for sublink in link.sublinks %}
                  <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <a class="{{ class }}" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
          {% endif %}
      {% endfor %}
    </nav>

  </div>

</header>
