/* Create content which consists of multiple columns */

.content-col-wrapper {
    width: 100%;
    margin-bottom: $spacing-unit;
    @extend %clearfix;

    /* On wide screens, add horizontal margin because child content is placed horizontally. */
    > :last-child {
      margin-left: $spacing-unit;
    }
}

/* On small screens, add vertical margin because child content is placed vertically. */
@include media-query($on-laptop) {
  .content-col-wrapper :last-child {
    margin-left: 0;
    margin-top: $spacing-unit;
  }
}
@include media-query($on-palm) {
  .content-col-wrapper :last-child {
    margin-left: 0;
    margin-top: $spacing-unit;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.content-col-small {
  float: left;
  width: 30%;
}

.content-col-big {
  float: left;
  width: 65%;
}

@include media-query($on-laptop) {
  .content-col-small,
  .content-col-big {
    width: 100%;
  }
}

@include media-query($on-palm) {
  .content-col-small,
  .content-col-big {
    width: 100%;
  }
}