---
layout: default
---
<article class="post">

  <div class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </div>

  <div class="post-content">
    {{ content }}
  

    <div class="content-col-wrapper">
      <div class="content-col-big">
        <h1>Bachelor's thesis</h1>
        <p>During my Bachelor's thesis at the Infineon Technologies AG, I developed an "Evaluation Kit" to acquire pressure data from barometric air pressure sensors. The "Evaluation Kit" consisted of a microcontroller firmware in C and a GUI in C#/.NET.</p>
        <p>See the <a href="{{ "/assets/data/Work/Presentations/Theses/Bachelvortrag - Benedikt Kleinmeier.pdf" | relative_url }}">presentation slides</a> for a short overview or the <a href="{{ "/assets/data/Work/Theses/Bachelorarbeit - Benedikt Kleinmeier.pdf" | relative_url }}">Bachelor's thesis</a> for more information.</p>
        <p>
          <ul class="skill-list">
            <li>C</li>
            <li>C#</li>
            <li>.NET</li>
            <li>GUI</li>
          </ul>
        </p>
      </div>
      <div class="content-col-small">
        <a class="gallery-element" href="{{ "/assets/data/Work/Presentations/Theses/Images/EvalKit-GUI-MainWindowStart.png" | relative_url }}" style="width: 100%;">
          <img src="{{ "/assets/data/Work/Presentations/Theses/Images/EvalKit-GUI-MainWindowStart.png" | relative_url }}" alt="EvalKit-GUI-MainWindowStart" />
        </a>
      </div>
    </div>

    <div class="content-col-wrapper">
      <div class="content-col-big">
        <h1>Master's thesis</h1>
        <p>During my Master's thesis at the Fraunhofer Institute ESK, I developed a Linux kernel module to acquire GPS data with real-time requirements for Car2X scenarios. The Linux kernel module was implemented in C and gave me a wonderful insight in the well-thought-out and elaborated architecture of the Linux kernel.</p>
        <p>See the <a href="{{ "/assets/data/Work/Presentations/Theses/Mastervortrag - Benedikt Kleinmeier.pdf" | relative_url }}">presentation slides</a> for a short overview or the <a href="{{ "/assets/data/Work/Theses/Masterarbeit - Benedikt Kleinmeier.pdf" | relative_url }}">Master's thesis</a> for more information.</p>
        <p>
          <ul class="skill-list">
            <li>C</li>
            <li>Linux Kernel</li>
            <li>Scheduling</li>
          </ul>
        </p>
      </div>
      <div class="content-col-small">
        <a class="gallery-element" href="{{ "/assets/data/Work/Presentations/Theses/Images/LinuxKernel-ZusammenspielTreiber.svg" | relative_url }}" style="width: 100%;">
          <img src="{{ "/assets/data/Work/Presentations/Theses/Images/LinuxKernel-ZusammenspielTreiber.svg" | relative_url }}" alt="LinuxKernel-ZusammenspielTreiber" />
        </a>
      </div>
    </div>

    <div class="content-col-wrapper">
      <div class="content-col-big">
        <h1>PhD</h1>
        <p>After years in the embedded software world, I got the chance to do a PhD in the field of crowd modeling and simulation.
          Thank you very, very much to <a href="https://www.cs.hm.edu/die_fakultaet/ansprechpartner/professoren/koester/index.de.html">Prof. Dr. Köster</a> and <a href="https://www.professoren.tum.de/bungartz-hans-joachim">Prof. Dr. Bungartz</a> for this unbelievable opportunity to widen my horizon.
          I conducted an own crowd experiment and integrated social psychological aspects in our crowd simulator <a href="http://www.vadere.org/">Vadere</a> to make crowd gatherings safer.
        </p>
        <p>See the <a href="{{ "/assets/data/Work/Presentations/Theses/PhD Defense - Modeling Behavioral Changes.pdf" | relative_url }}">PhD defense slides</a> for a short overview or the <a href="{{ "/assets/data/Work/Theses/Dissertation.pdf" | relative_url }}">PhD thesis</a> for more information. The source code of our open source crowd simulator <a href="http://www.vadere.org/">Vadere</a> can be found on <a href="https://gitlab.lrz.de/vadere/vadere">LRZ GitLab</a>.</p>
        <p>
          <ul class="skill-list">
            <li>Java</li>
            <li>Python</li>
            <li>JUnit</li>
            <li>pandas</li>
            <li>matplotlib</li>
            <li>GUI</li>
          </ul>
        </p>

        <h2 class="center-text">Thank you...</h2>
        <p>It was and enligthening journey with great collagues: Marion Gödel, Daniel Lehmberg, Christina Mayr, Simon Rahn, Stefan Schuhbäck and Benedikt Zönnchen</p>
        <p>
          Amazing partners in our joint <a href="https://www.sifo.de/sifo/de/projekte/gesellschaft/zukuenftige-sicherheit-in-urbanen-raeumen/opmops-organisierte-umzuege-un--konfliktpotenzial-in-staedten/opmops-organisierte-umzuege-un--konfliktpotenzial-in-staedten.html">OPMOPS project</a> helped to scrutinize crowd behavior during demonstrations to make them safer:
          <ul>
            <li><a href="https://www.polizei.rlp.de/die-polizei/dienststellen/hochschule-der-polizei-rheinland-pfalz">Hochschule der Polizei Rheinland Pfalz</a></li>
            <li><a href="https://www.mathematik.uni-kl.de/opt/personen/leitung/ruzika">Prof. Dr. Ruzika's mathematics research group</a> from TU Kaiserslautern</li>
            <li><a href="https://ru.rptu.de/fgs/stadtsoziologie/personen/prof-dr-annette-spellerberg">Prof. Dr. Spellerberg's sociology research group</a> from TU Kaiserslautern</li>
            <li><a href="https://vc.systems/en/">Virtual City Systems</a> (which develops briliant 3D city models)</li>
          </ul>
          A <a href="http://www.sussex.ac.uk/psychology/crowdsidentities/projects/modellingbehaviour">special thanks</a> to <a href="https://profiles.sussex.ac.uk/p92858-john-drury">Prof. Dr. Drury</a> for inviting me to the University of Sussex to gain insights into social psychology.
        </p>

        <h2 class="center-text">Some research output...</h2>
        <div>
          <ul>
            <li>Posters:</li>
            <ul>
              <li><a href="{{ "/assets/data/Work/Posters/2019 - TGF - Experiment.pdf" | relative_url}}">2019 - TGF - Experiment</a></li>
              <li><a href="{{ "/assets/data/Work/Posters/2019 - TGF - Vadere.pdf" | relative_url}}">2019 - TGF - Vadere</a> (which was a great collaboration with <a href="https://bzoennchen.github.io/Pages/">Benedikt Zönnchen</a>)</li>
            </ul>
            <li>Papers:</li>
            <ul>
              <li><a href="{{ "/assets/data/Work/Papers/40-342-1-PB.pdf" | relative_url}}">Vadere: An Open-Source Simulation Framework to Promote Interdisciplinary Understanding</a></li>
              <li><a href="{{ "/assets/data/Work/Papers/rsif.2020.0396.pdf" | relative_url}}">Agent-based simulation of collective cooperation: from experiment to model</a></li>
            </ul>
            <li>Presentations:</li>
            <ul>
              <li><a href="{{ "/assets/data/Work/Presentations/2021-03-26 - How to Simulate Crowds/How to Simulate Crowds.pdf" | relative_url}}">How to simulate crowds and behavioral changes</a></li>
            </ul>
            <li>Videos:<br>
              <video width="50%" controls>
                <source src="{{ "/assets/data/Work/Videos/2021-Psychology_Layer/04-BehavioralChange-Threat.mp4" | relative_url }}" type="video/mp4">
              Your browser does not support the video tag.
              </video>
            </li>
          </ul>
        </div>
      </div>
      <div class="content-col-small">
        <!--
        <a class="gallery-element" href="{{ "/assets/data/Work/Presentations/Theses/Images/Experiment-DenseCrowd-VideoFootage-Modified.png" | relative_url }}" style="width: 100%;">
          <img src="{{ "/assets/data/Work/Presentations/Theses/Images/Experiment-DenseCrowd-VideoFootage-Modified.png" | relative_url }}" alt="Experiment-DenseCrowd-VideoFootage-Modified" />
        </a>
        -->
        <video width="100%" controls>
          <source src="{{ "assets/data/Work/Videos/2021-Psychology_Layer/03-BehavioralChange-Cooperation.mp4" | relative_url }}" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      </div>
    </div>

  </div>

</article>
